@page
@model Web.Vehicles.IndexModel


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles[0].An_Fabricatie)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model.Vehicles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelVehicle => vehicle.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelVehicle => vehicle.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelVehicle => vehicle.An_Fabricatie)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@vehicle.ID_Vehicul">Details</a> |
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                            <a asp-page="./Edit" asp-route-id="@vehicle.ID_Vehicul">Edit</a>
                            <span> | </span>
                            <a asp-page="./Delete" asp-route-id="@vehicle.ID_Vehicul">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
