@page
@model Web.Pages.Mentenantas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mentenanta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mentenanta.ID_Vehicul)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mentenanta.ID_Vehicul)
        </dd>
        <dt class="col-sm-2">
            Vehicul
        </dt>
        <dd class="col-sm-10">
            @Model.VehiculNume  <!-- Afișează numele vehiculului -->
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mentenanta.Tip_Interventie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mentenanta.Tip_Interventie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mentenanta.Data_Programare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mentenanta.Data_Programare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mentenanta.Cost_Estimativ)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mentenanta.Cost_Estimativ)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Mentenanta.ID_Mentenanta">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
