@page
@model Web.Pages.Mentenantas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID Vehicul
            </th>
            <th>
                Vehicul
            </th>
            <th>
                Interventie
            </th>
            <th>
                Data programare
            </th>
            <th>
                Cost estimativ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Mentenanta) {
            <tr>
                <td>
                    @item.ID_Vehicul
                </td>
                <td>
                    @(Model.Vehicule.TryGetValue(item.ID_Vehicul, out var numeVehicul) ? numeVehicul : "Vehicul necunoscut")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tip_Interventie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data_Programare)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost_Estimativ)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID_Mentenanta">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID_Mentenanta">Delete</a>
                </td>
            </tr>
}
    </tbody>
</table>
